

:root {
    --primary-color : #ea9f05;
    --primary-color-hover : #c5983e;
}

@font-face {
    font-family: LiberationSansBold;
    src: url(./fonts/LiberationSans-Bold-webfont.ttf);
}

@font-face {
    font-family: LiberationSansRegular;
    src: url(./fonts/LiberationSans-Regular-webfont.ttf);
}

* {
    font-family: LiberationSansRegular;
    margin: 0;
    padding: 0;
}



.hello-to-user {
    display: flex;
    justify-content: end;
    font-family: LiberationSansBold;
}

a {
    text-decoration: none;
    color: black;
}

.sit-amet {
    color: var(--primary-color);
}

body {
    background-color: black;
}



.content {
    border: solid;
}

header {
    background-image: url(./img/background.jpg);
    margin-top: -20px;
    padding: 10px;
    width: 100%;
}

.articles {
    background-image: url(./img/background.jpg);
}

.bouton_voir_vente {
    display: flex;
    border-radius: 0;
    height: 30px;
    width: 130px;
    justify-content: center;
    align-items: center;
}

.action_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.price-splited {
    font-weight: bolder;
    font-size: 1.5em;
    text-decoration: line-through;
}

.price-normal {
    font-weight: bolder;
    font-size: 1.5em;
    color: var(--primary-color);
}

.percent {
    display: flex;
    height: 30px;
    width: 70px;
    position: absolute;
    right: -31px;
    top: 10px;
    font-size: 1.5em;
    color: var(--primary-color);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: default;
    background-color: #212529;
    border-radius: 7px;
}


.image_percent {
    position: relative;
}

.description {
    position: absolute;
    bottom:  2px;
    left: 27px;
    font-size: 11px;
    font-weight: bold;
}

footer {
    background-color: #373737;
    color: white;
}

.footer-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.float_list {
    display: flex;
    position: absolute;
    top: -8px;
    z-index: 100;
    background-color: white;
    color: black;
    width: 35%;
    justify-content: space-between;
    border-radius: 7px;
    right: 50%;
    transform: translatex(50%);
    text-decoration: none;
}

.footer_row {
    position: relative;
}

    /* Style du menu_deroulant Button */
    .text_button {
        background-color: var(--primary-color);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      
      .menu_deroulant {
        position: relative;
        display: inline-block;
      }
      
      .contenu_menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .contenu_menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .contenu_menu a:hover {background-color: #f1f1f1}
      
      .menu_deroulant:hover .contenu_menu {
        display: block;
      }
      
      .menu_deroulant:hover .text_button {
        background-color: var(--primary-color-hover);
      }